ArtCast/ArtCast/ArtCast.Android/obj/
ArtCast/ArtCast/ArtCast.iOS/obj/
ArtCast/ArtCast/ArtCast.UWP/obj/
ArtCast/ArtCast/ArtCast.UWP/bin/
ArtCast/ArtCast/ArtCast.Android/bin/
ArtCast/ArtCast/ArtCast/bin/
ArtCast/ArtCast/ArtCast/obj/
